body {
    background-color: #202023;
    color: white;
    font-family: "Product Sans";
    margin: 0;
    padding: 20px;
}

img {
    width: 650px; /* Agrandi de 1,3 fois */
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.progressBar {
    background-color: white;
    border-radius: 50px;
    height: 650px; /* Agrandi de 1,3 fois */
    width: 26px; /* Agrandi de 1,3 fois */
    margin: 26px 0; /* Agrandi de 1,3 fois */
}

.parent-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espace entre les containers */
}

.container {
    display: flex;
    align-items: flex-start;
    background-color: #202023;
}

.rectangle {
    width: 31px; /* Agrandi de 1,3 fois */
    height: 208px; /* Agrandi de 1,3 fois */
    background-color: #555555;
    position: relative;
    border-radius: 100px;
    margin-right: 26px; /* Agrandi de 1,3 fois */
}

.tPoint1, .tPoint2, .tPoint3 {
    width: 13px; /* Agrandi de 1,3 fois */
    height: 13px; /* Agrandi de 1,3 fois */
    background-color: #5f6367;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.tPoint1 {
    bottom: -26px; /* Agrandi de 1,3 fois */
}

.tPoint2 {
    bottom: -52px; /* Agrandi de 1,3 fois */
}

.clock {
    width: 26px; /* Agrandi de 1,3 fois */
    height: 26px; /* Agrandi de 1,3 fois */
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -97px; /* Agrandi de 1,3 fois */
    filter: brightness(100%);
}

.tPoint3 {
    bottom: -124px; /* Agrandi de 1,3 fois */
}

.rondbas {
    width: 20px; /* Agrandi de 1,3 fois */
    height: 20px; /* Agrandi de 1,3 fois */
    background-color: #202023;
    border-radius: 50%;
    position: absolute;
    bottom: 5px; /* Agrandi de 1,3 fois */
    left: 50%;
    transform: translateX(-50%);
}

.rondhaut {
    width: 42px; /* Largeur du cercle */
    height: 42px; /* Hauteur du cercle */
    background-color: rgb(32, 32, 35); /* Couleur de fond */
    border-radius: 50%; /* Rend le div rond */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.7); /* Ombre */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Cache les parties de l'image qui dépassent du cercle */
}

.rondhaut img {
    width: 32px;
    height: 32px;
    top: 4px;
    vertical-align: middle;
}

.Btn {
    background-color: #ffffff;
    border: none;
    border-radius: 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    justify-content: flex-start;
    cursor: pointer;
    font-size: 32px;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
}

.Btn:active {
    transform: translate(2px ,2px);
}

.texte {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 7px; /* Agrandi de 1,3 fois */
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px; /* Agrandi de 1,3 fois */
    width: 390px; /* Agrandi de 1,3 fois */
}

.item:last-child {
    margin-bottom: 0;
}

.details {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 21px; /* Agrandi de 1,3 fois */
    margin: 0;
}

.subtitle {
    font-size: 18px; /* Agrandi de 1,3 fois */
    color: #ffffff;
    margin: 0;
    padding-top: 5px; /* Agrandi de 1,3 fois */
}

.time {
    font-size: 23px; /* Agrandi de 1,3 fois */
    font-weight: bold;
}

.separator {
    background-color: #555555;
    height: 0.65px; /* Agrandi de 1,3 fois */
    margin-bottom: 0px;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.9); /* Agrandi de 1,3 fois */
}

.separator2 {
    background-color: #555555;
    height: 0.91px; /* Agrandi de 1,3 fois */
    margin-bottom: 20px; /* Agrandi de 1,3 fois */
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.9); /* Agrandi de 1,3 fois */
}

.titleTrajet {
    font-size: 21px; /* Agrandi de 1,3 fois */
    margin: 0;
    margin-top: 20px; /* Agrandi de 1,3 fois */
}
